config/databases.yml

nbproject
cache
log
php.ini

lib/vendor/symfony

web/uploads
web/uploads/thumbs
web/uploads/attach/**
web/uploads/icon
web/uploads/xml/**
web/uploads/good/**

**/base/Base**.php
lib/filter/doctrine/base/
lib/form/doctrine/base/
lib/model/doctrine/base/

**.svn**
**.git**
**/.**

**error_log 
**.**quota 
web/sf 
web/**Plugin 
web/uploads/**.thumbs/** 
